@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: #f4f4f4;
  --color-gray-200: #e9e9e9;
  --color-gray-300: #d3d3d3;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #a7a7a7;
  --color-gray-600: #909090;
  --color-gray-700: #7a7a7a;
  --color-gray-800: #646464;
  --color-gray-900: #4e4e4e;

  --color-main-100: #e4eafd;
  --color-main-200: #c9d4fb;
  --color-main-300: #afbff9;
  --color-main-400: #94a9f7;
  --color-main-500: #7994f5;
  --color-main-600: #5e7ef3;

  --color-black: #121212;
  --color-white: #ffffff;
  --color-error: #ce2020;
  --color-success: #1eb916;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 640px) {
  .hide-scrollbar-mobile::-webkit-scrollbar {
    width: 0px;
  }

  .hide-scrollbar-mobile {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-main-600);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-main-100);
  border-radius: 8px;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

html {
  font-family: 'Pretendard';
}
body {
  background-color: #f4f4f4;
}
